
.cabeçario {  /* cabeçario no meio com a fonte normal na cor preta */
            
            
    text-align: center;
    font-family: Calibri;
    
    
    
       
}


 fieldset {
    
    width: 550px;
    font-family: Arial;
    
    
   
    
}
div {
    padding: 1px;
    
    
    
}
.mov {  /*Alinhar o NOME, RG, ENDEREÇO, SITUAÇÃO CIVIL */
   
    width: 110px;
    margin-right: 31px;
    display: inline-block;
}

.mov2  {  /* Alinhando o input da data de nascimento com o input do cpf*/
    
    margin-right: 16px;
    
    
    
    
          
}
.mov3 {  /*  alinanhndo o input do cpf com o input de data de nascimento */
    
    margin-right: 98px
    
}
.mov4 {  /* Alinhando o casado perto da letra A de " DATA" */

    margin-left: 25px;

}
.mov5 {  /* alinhando o viuvo dentro da barra da data de nascimento */
   
    margin-left: 50px;
}



.limpar {  /* pegando o botao 100% dele e puxando pro meio*/
    width: 100%;
    text-align: center;
}
.aux { /* margin left para empurrar o input de sexo para a direta e o margin rigth para empurrar para a esquerda a Data de nascimento */
   
    margin-left: 100px;
    margin-right: 24px;
}



       

        

       

